  <table class="ui celled striped table">
    <thead>
      <tr><th>
        <h3>Ipsumus Maximus</h3>
      </th>
    </tr></thead>
    <tbody>
      {{#if ipsums}}
        {{#each ipsums as |ipsum|}}
          {{ipsum-tile ipsum=ipsum}}
        {{/each}}
      {{else}}
        <tr>
          <td>
            <h4>No Ipsums Thus Far...</h4>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
