<table class="ui celled striped table">
  <thead>
    <tr><th>
      <h3>Reviews of This Ipsum (Omnis Enim Reprehendit)</h3>
      {{review-ratings reviews=ipsum.reviews}}
    </th>
  </tr></thead>
  <tbody>
    {{#if ipsum.reviews}}
      {{#each sortedReviews as |review|}}
        {{review-tile review=review}}
      {{/each}}
    {{else}}
      <tr>
        <td>
          <h4>No Reviews thus far. Please consider adding one.</h4>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
<hr>
