<div class="ui top fixed menu">
  <div class="item">
    {{#link-to 'index'}}How's My Ipsum?{{/link-to}}
  </div>
  <span class="item right">Let us not be piggish about our Latin.</span>
</div>

<div class="ui container content-container">
  {{outlet}}
</div>
