{{#link-to 'index'}}<img src="/img/banner.png" alt="How's my Ipsum?" width="100%">{{/link-to}}
<p></p>
{{ipsum-display ipsum=model.ipsum}}
<br>
{{ipsum-edit ipsum=model.ipsum updateIpsum="updateIpsum" deleteIpsum="deleteIpsum"}}
<hr>
{{review-list reviews=model.ipsum.reviews}}
{{review-new ipsum=model.ipsum saveReview="saveReview"}}
